.header-title {
  font-family: "Cinzel", serif;
  font-size: 4rem;
  color: #86c232;
  margin-top: 2.5rem;
  text-align: center;
}

.sub-title {
  color: #999;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
