.header-title {
  font-family: "Cinzel", serif;
  font-size: 4rem;
  color: #86c232;
  margin-top: 2.5rem;
  text-align: center;
}

.sub-title {
  font-size: 2rem;
  text-align: center;
}

h6 {
  color: #474b4f;
  text-align: center;
  margin-bottom: 2.5rem;
  font-style: italic;
}
