/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Yeseva One', cursive; */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #ddddda;
  color: #4e5a65;
}

/* Hero Section */
.hero-container{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  max-width: fit-content;
  padding: 250px 60px;
}
.name-title {
  font-family: 'Yeseva One', cursive;
  padding-top: 2rem;
  font-size: 7rem;
  text-align: center;
}
.float-container{
  max-width:fit-content;
}
.portrait {
  float: left;
  border-radius: 50%;
  shape-outside: circle();
  height: 400px;
  margin-right: 3rem;
}
.hero-description{
  padding-top: 1rem;
  font-size: 1.8rem;
}

/* Project Section */
.project-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 140px;
  padding: 150px 60px;
  margin: auto;
  box-shadow: inset 0px 2px 40px -6px #bebebe;
}
 .project-item {
   display: flex;
   flex-direction: column;
   max-width: 450px; 
   border: 12px double #b5c9d5;
   border-radius: 6px;
   padding: 40px;
 }
.thumbnail {
  height: 250px;
  width: 350px;
  object-fit: cover;
  object-position: center;
  border-radius: 6px;
  filter: grayscale(100%);
  margin: 5px 5px 5px 0;
}
.thumbnail:hover {
  filter: none !important;
}
.project-name {
  font-family: 'Yeseva One', cursive;
  color: #748a9e;
}
.project-description {
  font-size: 1.5rem;
  padding-top: 10px;
}

span {
  font-weight: 900;
  font-size: 1.4rem;
  color: #748a9e;
}

/* Contact Section */
.contact-footer {
  display: flex;
  min-height: 150px;
  padding: 40px;
  justify-content: center;
  gap: 2.5rem;
}
a{
  text-decoration: none;
  color: #748a9e;
}
a:hover {
  color: #b5c9d5;
}

/* Media Breakpoints */
@media only screen and (max-width: 600px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 100px 30px 100px;
  }
  .name-title {
    font-size: 5rem;
  }

  .float-container {
    margin: 20px;
  }

  .hero-description {
    font-size: 1.4rem;
  }

  .portrait {
    shape-outside: none;
    height: 300px;
    shape-outside: circle();
  }

}